// === vars ===
$color-main: #181a26;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #9092a7;
$color-green: #44dfab;
$color-lightgreen: #07f142;
$color-lightgreen-2: #00ff72;
$color-darkblue: #24364b;
$color-lightblue: #7289da;
$color-lightblue-2: #6f86d5;

$transition-03: 0.3s ease-in-out;

$screen-768: 768px;
$screen-735: 735px;
// === / vars ===
